### User-specific ###
.idea/

*.iml
*.ipr
*.iws

### Compiled ###
*.class

### Logs ###
*.log

### Gradle ###
.gradle
build/
**/build/
gradle-app.setting

### Cache ###
.gradletasknamecache

### MarcPG ###
tasks.md
